<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aman.teenscribblers.galgotiasuniversitymsim">

    <uses-sdk tools:overrideLibrary="com.wingsofts.dragphotoview" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permission to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.GUApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.MyFcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- News Service and BroadCast Reciever -->

        <activity
            android:name=".activities.StudentLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_news"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="083f6fb393aa269d22adb689b652fa6ca6797187" />

        <activity
            android:name=".activities.FullScreenImageActivity"
            android:theme="@style/translucent" />
        <activity android:name=".activities.WebViewActivity">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="com.aman.teenscribblers.galgotiasuniversitymsim" />
            </intent-filter>

        </activity>
    </application>

</manifest>